doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title jquery-seed
    link(rel='stylesheet', type='text/css', href='../styles/index.css')
  body
    h1 hello ziv
    h3.title love story
    p.content Love is complicated
    script(type='text/javascript', src='../scripts/bundle.js')
