doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title jquery-seed
    link(rel='stylesheet', type='text/css', href='../styles/index.css')
  body
    div
      ul
        li
          ul
            li
              ul
                li d
    script(type='text/javascript', src='../scripts/common.js')
    script(type='text/javascript', src='../scripts/bundle.js')
